<% include partes/_header %>
    <br>
    <center>
        <form action="/registrar" method="get">
            <button type="submit" class="btn btn-primary">
                REGISTRAR
            </button>
        </form>
    </center>
        <br>
        <div class="container">
            <div class="row mt-5">
                <div class="col-md-7">
                    <h2>    List the Documents</h2>
                        <br>
                        <table class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>N°</th>
                                    <th>Nombres y Apellidos</th>
                                    <th>N° Identificacion</th>
                                    <th>Tipo</th>                                                                        
                                    <th>Fecha de Nacimiento</th>
                                    <th>Edad</th>
                                    <th>Sexo</th>
                                    <th>Persona de Contacto</th>
                                </tr>
                            </thead>
                            <tbody>                           
                                <% for(var i=0; i< tasks.length; i++) { %>
                                    <tr>
                                        <td><%= i + 1 %></td>
                                        <td><%= tasks[i].applicant_person %></td>                                        
                                        <td><%= tasks[i].identification_number %></td>
                                        <td><%= tasks[i].identification_type %></td>
                                        <td><%= tasks[i].fecha %></td>                                        
                                        <td><%= tasks[i].age %></td>
                                        <td><%= tasks[i].sex %></td>                                          
                                        <td><%= tasks[i].reference_person %></td>
                                    </tr>                                    
                                <% } %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div> 
<% include partes/_final %>