<% include partes/_header %>
<br>
<br>
<center>
    <form action="/Nota" method="get">
        <button type="submit" class="btn btn-primary">
            Registrar
        </button>
    </form>
</center>
<br>
<div class="container">
    <div class="row mt-5">
        <div class="col-md-7">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>N°</th>
                        <th>Alumno</th>
                        <th>Universidad</th>
                        <th>Parcial I</th>
                        <th>Parcial II</th>
                        <th>Nota de Trabajo</th>
                        <th>Examen Final</th>
                    </tr>
                </thead>
                <tbody>
                    <% for(var i=0; i< tasks.length; i++) { %>
                    <tr>
                        <td><%= i + 1 %></td>
                        <td><%= tasks[i].usuario %></td>
                        <td><%= tasks[i].universidad %></td>
                        <td><%= tasks[i].parcial1 %></td>
                        <td><%= tasks[i].parcial2 %></td>
                        <td><%= tasks[i].trabajo %></td>
                        <td><%= tasks[i].final %></td>
                        <td><a href="/decidir/<%= tasks[i].id %>" class="btn btn-primary">ver nota</a></td>
                    </tr>
                    <% } %>
                </tbody>
            </table>
        </div>
    </div>
</div>

<br>


<% include partes/_final %>
<!--
    <br>
    <center>
        <form action="/registrar" method="get">
            <button type="submit" class="btn btn-primary">
                REGISTRAR
            </button>
        </form>
    </center>-->

<!--*/
<a href="/promedio" class="btn btn-primary">promedio</a>
                    <a href="/porcentaje" class="btn btn-primary">porcentaje</a>
    <h2>    List the Documents</h2>
                        <br>
                        
/*-->